/**=====================================================**
                    THEME-COLORS
=======================================================**/
$primary: #7D56A5;
$primary-dark: #73489F;
$secondary: #FEEFEC;
$tertiary: #F78B64;
$danger: #F16063;

/**=====================================================**
                    TEXT-COLORS
=======================================================**/
$gray-600: #718096;
$gray-700: #4A5568;
$gray-800: #2D3748;

$textDark: #352424;
$dark: #27272E;
$textBodyLight: #425466;

$textPlaceholder: #B5B5BD;
$checkborder: #C9CED6;
// $checkborder: #BCB3E2;

/**=====================================================**
                    BACKGROUND-COLORS
=======================================================**/
$card-background: #F5F5F5;
$scrollBg: #C4C4C4;
$bodyBg: #FCFAFF;


/**=====================================================**
                    BORDER-COLORS
=======================================================**/

/**=====================================================**
                    NORMAL-COLORS
=======================================================**/
$black: #000000;
$white: #ffffff;


/**=====================================================**
                    SHADOWS
=======================================================**/
$shadow-1: rgba(12, 26, 75, 0.1);
$shadow-2: rgba(20, 37, 63, 0.08);
$shadow-3: rgba(20, 37, 63, 0.06);
$shadow-4: rgba(50, 50, 71, 0.08);
$shadow-5: rgba(50, 50, 71, 0.2);
$shadow-6: rgba(12, 26, 75, 0.2);
$shadow-7: rgba(50, 50, 71, 0.1);

$error-shade: rgba($danger, 0.5);




/**=====================================================**
                    BOX-SHADOWS
=======================================================**/
$close-shadow: 0 0 .0625rem $shadow-1,
0 1.875rem 2.5rem $shadow-2;
$dropdown-shadow: 0 0 .0625rem $shadow-1,
0px .625rem 1rem $shadow-3;
$input-shadow: 0 .0625rem .125rem $shadow-4,
0 0 .0625rem $shadow-5;
$input-shadow: 0 .0625rem .125rem $shadow-4,
0 0 .0625rem $shadow-5;
$share-shadow: 0 0 .0625rem $shadow-6,
0 .0625rem .1875rem $shadow-7;

$error-shadow: 0 .0625rem .125rem $error-shade,
0 0 .0625rem $error-shade;
/**=====================================================**
                    TIMING-VARIABLES
=======================================================**/
$time: 250ms;