/**=====================================================**
                    THEME-COLORS
=======================================================**/
$primary: #7D56A5;
$secondary: #FEEFEC;

$primaryBg: #FDF9F2;
$secondaryBg: #F9F8F8;
$bannerBg: #F9F8F7;
$textPlaceholder: #7C7C7C;
$dividerBg: #DEE2E6;
$submitBg: #353535;
$footerText: #969696;
$textStep: #626262;
$textTestimonial: #535353;
$testimonialBg: #FAF9F7;
$dimondBorder: #ECECEC;
$textSuccess: #69B756;
$inputBorder: #CED3DB;
$formBorder: #D8D8D8;
$showroomBorder: rgba(21, 21, 21, 0.15);
$scheduleBg: #0E0E0E;
$textSchedule: #B9B8B8;
$faqBtnBg: #EDEDED;
$grayBg: #eeeeee;

/**=====================================================**
                    BORDER-COLORS
=======================================================**/

/**=====================================================**
                    NORMAL-COLORS
=======================================================**/
$black: #000000;
$white: #ffffff;

/**=====================================================**
                    BOX-SHADOWS
=======================================================**/

/**=====================================================**
                    TIMING-VARIABLES
=======================================================**/
$time: 250ms;