/**=====================================================**
                    THEME-COLORS
=======================================================**/
$primary: #7D56A5;
$secondary: #FEEFEC;
$danger: #F16063;

$gray-600: #718096;

/**=====================================================**
                    BORDER-COLORS
=======================================================**/

/**=====================================================**
                    NORMAL-COLORS
=======================================================**/
$black: #000000;
$white: #ffffff;


/**=====================================================**
                    SHADOWS
=======================================================**/
$shadow-1: rgba(12, 26, 75, 0.1);
$shadow-2: rgba(20, 37, 63, 0.08);

/**=====================================================**
                    BOX-SHADOWS
=======================================================**/
$close-shadow: 0 0 .0625rem $shadow-1, 0 1.875rem 2.5rem $shadow-2;

/**=====================================================**
                    TIMING-VARIABLES
=======================================================**/
$time: 250ms;