/**=======================================================**
                        CART START
**=======================================================**/

.cart {
    padding: length(40) length(20) length(94);
    position: relative;
    margin-top: length(48);

    @include breakpoint(tab992) {
        margin-top: length(100);
    }

    &-content {
        @include flex-column;
        gap: length(24);
    }

    &-header {
        .cart-title {
            @include font-face($secondaryFont, style('normal'), size(16), weight('semibold'), line-height(25.6, 16));
            color: $gray-800;
        }
    }

    &-body {
        @include flex-column;
        gap: length(8);
        padding-bottom: length(64);

        @include breakpoint(tab992) {
            padding-bottom: length(0);
        }

        &::-webkit-scrollbar {
            background: transparent;
            width: length(4);
        }

        &::-webkit-scrollbar-thumb {
            background: $scrollBg;
        }

        .card-cart {
            @include flex-center-vert;
            gap: length(14);

            .card-horizontal {
                width: calc(100% - 1.875rem);
                align-items: flex-start;

                &-cap {
                    @include square(length(64));
                }

                &-details {
                    width: calc(100% - 4.875rem);
                }
            }

            .btn-cartremove {
                @include square(length(16));
                @include flex-center;
                @include transparent-button;
                overflow: hidden;

                svg {
                    path {
                        @include transitions;
                    }
                }

                @include hover {
                    svg {
                        @include transform(rotate(-90deg));

                        path {
                            fill: $danger;
                        }
                    }
                }
            }
        }
    }

    &-footer {
        @include flex-center-between;
        position: fixed;
        bottom: length(70);
        left: 0;
        @include w100;
        background: $bodyBg;
        background: $white;
        padding: length(20);
        z-index: 100;

        @include breakpoint(tab992) {
            position: static;
            bottom: 0;
            background: $bodyBg;
            padding: length(20) length(0) length(0);
        }

        hgroup {
            @include flex-center-vert;
            gap: length(24);

            .subtotal-title {
                @include font-face($secondaryFont, style('normal'), size(14), weight('semibold'), line-height(25.6, 14));
                color: $gray-600;

                @include breakpoint(tab992) {
                    @include font-face($secondaryFont, style('normal'), size(16), weight('semibold'), line-height(25.6, 16));
                }
            }

            .subtotal-price {
                .bdtsign {
                    @include font-face($secondaryFont, style('normal'), size(14), weight('semibold'), line-height(25.6, 14));
                    color: $primary;

                    @include breakpoint(tab992) {
                        @include font-face($secondaryFont, style('normal'), size(16), weight('semibold'), line-height(25.6, 16));
                    }
                }

                .price {
                    @include font-face($secondaryFont, style('normal'), size(14), weight('semibold'), line-height(25.6, 14));
                    color: $primary;

                    @include breakpoint(tab992) {
                        @include font-face($secondaryFont, style('normal'), size(16), weight('semibold'), line-height(25.6, 16));
                    }
                }
            }
        }

        .btn-checkout {
            @include flex-center;
            gap: length(10);
            padding: length(10) length(14);
            @include radius(8);
            background: $primary;
            @include transitions;

            @include breakpoint(tab992) {
                padding: length(16) length(24);
            }

            .btn-text {
                @include font-face($secondaryFont, style('normal'), size(12), weight('semibold'), line-height(12, 12));
                color: $white;
            }

            .btn-icon {
                @include square(length(14));
                @include flex-center;
                overflow: hidden;
            }

            @include hover {
                background: $primary-dark;
            }
        }
    }
}

/**=======================================================**
                        CART END
**=======================================================**/