/**=====================================================
                CLASSROOM-SECTION START
=====================================================**/

.classroom {
    padding: length(60) length(0) length(48);

    @include breakpoint(tab992) {
        padding: length(110) length(0) length(48);
    }

    // COURSE-VIDEOS START
    .course-videos {
        @include h100;

        .videobox {
            background: $videoboxBg;
            @include w100;
            @include flex-center;
            overflow: hidden;
            aspect-ratio: 1.77;

            .btn-playpause {
                @include square(length(60));
                @include circle;
                @include transparent-button;
                @include flex-center;

                @include breakpoint(mobile500) {
                    @include square(length(80));
                }

                @include breakpoint(mobile768) {
                    @include square(length(120));
                }

                svg {
                    @include wh100;
                }
            }
        }
    }

    .courseplaylist {
        @include h100;
        max-height: 100%;

        @include breakpoint(tab992) {
            overflow: hidden;
            overflow-y: scroll;
            max-height: length(317);

            &::-webkit-scrollbar {
                width: length(12);
            }

            &::-webkit-scrollbar-thumb {
                background: $primary;
            }
        }

        @include breakpoint(desktop1200) {
            max-height: length(377);
        }

        @include breakpoint(desktop1400) {
            max-height: length(437);
        }

        .accordion {
            @include breakpoint(tab992) {
                aspect-ratio: 1.77;
            }

            &-item {
                border-color: $gray-200;
                border: 0;
                border-radius: 0;

                &.active {
                    .accordion-button {
                        background: $primary-light;
                    }

                    .accordion-body {
                        padding: 0;
                        padding-left: length(10);

                        .courselist {
                            @include list-vertical;

                            &-link {
                                @include w100;
                                background: $primary-light;
                                @include flex-center-vert;
                                gap: length(16);
                                padding: length(16);

                                &.playing {
                                    background: $playingBg;
                                }

                                .titleinfo {
                                    @include flex-column;
                                    text-align: left;

                                    .title {
                                        @include font-face($primaryFont, style('normal'), size(16), weight('semibold'), line-height(25, 16));
                                        color: $gray-700;
                                        @include line-clamp;
                                    }

                                    .durations {
                                        @include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(24, 14));
                                        color: $gray-700;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &-button {
                @include flex-center-vert;
                gap: length(16);
                padding: length(16);

                .icon {
                    @include square(length(24));
                    @include flex-center;
                    overflow: hidden;

                    svg {
                        @include wh100;
                    }
                }

                &:not(.collapsed) {
                    background-color: transparent;
                    border-radius: 0;
                    box-shadow: none;

                    &::after {
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                    }
                }

                .titleinfo {
                    @include flex-column;
                    text-align: left;
                    width: calc(100% - 2.5rem);

                    .title {
                        @include font-face($primaryFont, style('normal'), size(14), weight('semibold'), line-height(24, 14));
                        color: $gray-700;
                        @include line-clamp;

                        @include breakpoint(mobile480) {
                            @include font-face($primaryFont, style('normal'), size(16), weight('semibold'), line-height(25, 16));
                        }
                    }

                    .durations {
                        @include font-face($primaryFont, style('normal'), size(12), weight('normal'), line-height(20, 12));
                        color: $gray-700;

                        @include breakpoint(mobile480) {
                            @include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(24, 14));
                        }
                    }
                }

                &:focus {
                    box-shadow: none;
                    outline: none;
                }
            }

            &-body {
                padding: 0;
                padding-left: length(10);

                .courselist {
                    @include list-vertical;

                    &-item {
                        &:first-child {
                            .courselist-link {
                                @include border-single(top, solid, 1, $gray-200);
                            }
                        }

                        &:last-child {
                            .courselist-link {
                                border-bottom: 0;
                            }
                        }
                    }

                    &-link {
                        @include w100;
                        @include flex-center-vert;
                        gap: length(16);
                        padding: length(16);
                        background: $white;
                        @include border-single(bottom, solid, 1, $gray-200);

                        .titleinfo {
                            @include flex-column;
                            text-align: left;

                            .title {
                                @include font-face($primaryFont, style('normal'), size(14), weight('semibold'), line-height(24, 14));
                                color: $gray-700;
                                @include line-clamp;

                                @include breakpoint(mobile480) {
                                    @include font-face($primaryFont, style('normal'), size(16), weight('semibold'), line-height(25, 16));
                                }
                            }

                            .durations {
                                @include font-face($primaryFont, style('normal'), size(12), weight('normal'), line-height(20, 12));
                                color: $gray-700;

                                @include breakpoint(mobile480) {
                                    @include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(24, 14));
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/**=====================================================
                CLASSROOM-SECTION END
=====================================================**/

/**=====================================================
                COURSE-INSTRUCTOR START
=====================================================**/

.course-instructor {
    padding: length(0) length(20);

    @include breakpoint(tab992) {
        padding: length(0);
    }

    .classroomcourse {
        @include flex-column;
        gap: length(20);
        max-width: 100%;

        @include breakpoint(tab992) {
            max-width: 75%;
            gap: length(36);
        }

        .course-title {
            @include font-face($primaryFont, style('normal'), size(18), weight('semibold'), line-height(28.09, 18));
            color: $textDark;

            @include breakpoint(mobile576) {
                @include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38.09, 28));
            }

            @include breakpoint(tab992) {
                @include font-face($primaryFont, style('normal'), size(48), weight('bold'), line-height(58.09, 48));
            }
        }

        .course-text {
            @include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(24, 14));
            color: $gray-700;

            @include breakpoint(mobile480) {
                @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(25, 16));
            }
        }
    }

    .courseinstructor {
        background: $white;
        padding: length(24);
        @include flex-column;
        gap: length(24);

        &-header {
            @include flex-center-vert;
            gap: length(16);

            .instructor-thumbnail {
                @include square(length(48));
                @include flex-center;
                @include circle;
                overflow: hidden;

                img {
                    @include wh100;
                    object-fit: cover;
                }
            }

            .instructor-detail {
                width: calc(100% - 4rem);

                .instructorname {
                    @include font-face($primaryFont, style('normal'), size(14), weight('semibold'), line-height(24, 14));
                    color: $black;
                }

                .instructordesignation {
                    @include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(22.68, 14));
                    color: $textBodyLight;
                }
            }
        }

        &-body {
            .instructor-text {
                @include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(24, 14));
                color: $gray-700;

                @include breakpoint(mobile480) {
                    @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(25, 16));
                }
            }
        }
    }
}

/**=====================================================
                COURSE-INSTRUCTOR END
=====================================================**/

/**=====================================================
                CLASSROOM-INFO START
=====================================================**/

.classroominfo {
    padding: length(64) length(20);

    @include breakpoint(tab992) {
        padding: length(120) length(0);
    }

    &-content {
        @include flex-column;
        gap: length(48);

        @include breakpoint(tab992) {
            gap: length(120);
        }
    }

    .classroomcourseinfo {
        @include flex-column;
        gap: length(36);

        .courseinfo-title {
            @include font-face($primaryFont, style('normal'), size(18), weight('semibold'), line-height(28.09, 18));
            color: $textDark;

            @include breakpoint(mobile576) {
                @include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38.09, 28));
            }
        }

        .courseinfo-text {
            @include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(24, 14));
            color: $gray-700;

            @include breakpoint(mobile480) {
                @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
            }
        }
    }

    .courselearn {
        @include flex-column;
        gap: length(36);

        .courselearn-title {
            @include font-face($primaryFont, style('normal'), size(18), weight('semibold'), line-height(28.09, 18));
            color: $textDark;

            @include breakpoint(mobile576) {
                @include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38.09, 28));
            }
        }

        .learnlist {
            @include list-vertical;
            gap: length(16);

            &-item {
                @include flex-center-vert;
                gap: length(8);

                .icon {
                    @include square(length(16));
                    @include flex-center;
                    overflow: hidden;
                    margin-top: length(-4);
                }

                .text {
                    @include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(24, 14));
                    color: $gray-700;

                    @include breakpoint(mobile480) {
                        @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(25, 16));
                    }
                }
            }
        }
    }

    .prerequired {
        &-info {
            @include flex-column;
            gap: length(36);
        }

        &-title {
            @include font-face($primaryFont, style('normal'), size(18), weight('semibold'), line-height(28.09, 18));
            color: $textDark;

            @include breakpoint(mobile576) {
                @include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38.09, 28));
            }
        }

        &-text {
            @include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(24, 14));
            color: $gray-700;

            @include breakpoint(mobile480) {
                @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(25, 16));
            }
        }
    }

    .toolsinfo {
        .coursetools {
            @include flex-column;
            gap: length(36);

            .coursetools-title {
                @include font-face($primaryFont, style('normal'), size(18), weight('semibold'), line-height(28.09, 18));
                color: $textDark;

                @include breakpoint(mobile576) {
                    @include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38.09, 28));
                }
            }

            .learnlist {
                @include list-vertical;
                gap: length(16);

                &-item {
                    @include flex-center-vert;
                    gap: length(8);

                    .icon {
                        @include square(length(16));
                        @include flex-center;
                        overflow: hidden;
                        margin-top: length(-4);
                    }

                    .text {
                        @include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(24, 14));
                        color: $gray-700;

                        @include breakpoint(mobile480) {
                            @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(25, 16));
                        }
                    }
                }
            }
        }
    }

    .classroomdescript {
        @include flex-column;
        gap: length(36);

        .desctipt-title {
            @include font-face($primaryFont, style('normal'), size(18), weight('semibold'), line-height(28.09, 18));
            color: $textDark;

            @include breakpoint(mobile576) {
                @include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38.09, 28));
            }
        }

        .descript-text {
            @include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(24, 14));
            color: $gray-700;

            @include breakpoint(mobile480) {
                @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
            }
        }
    }
}

/**=====================================================
                CLASSROOM-INFO END
=====================================================**/