/**=====================================================
                HOME-BANNER(DESKTOP) START
=====================================================**/

.desktopbanner {
    margin: length(120) length(0) length(60);

    &-content {
        background: $secondary;
        @include radius(8);
        overflow: hidden;

        .banner-details {
            padding: length(40) length(40) length(0) length(40);
            @include flex-column;
            gap: length(30);
            margin-bottom: length(48);

            @include breakpoint(tab992) {
                margin-bottom: length(0);
            }

            &-header {
                @include flex-column;
                gap: length(36);

                .banner-title {
                    @include font-face($primaryFont, style('normal'), size(32), weight('bold'), line-height(42.09, 32));
                    color: $textDark;

                    @include breakpoint(desktop1200) {
                        @include font-face($primaryFont, style('normal'), size(38), weight('bold'), line-height(48.09, 38));
                    }

                    @include breakpoint(desktop1400) {
                        @include font-face($primaryFont, style('normal'), size(48), weight('bold'), line-height(58.09, 48));
                    }
                }

                .banner-text {
                    @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(25.94, 16));
                    color: $gray-700;

                    @include breakpoint(desktop1200) {
                        @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(30, 20));
                    }


                    @include breakpoint(desktop1400) {
                        @include font-face($primaryFont, style('normal'), size(25), weight('normal'), line-height(34.01, 25));
                    }
                }
            }
        }

        .banner-thumbnail {
            padding: length(20);

            img {
                max-width: 100%;
                object-fit: contain;
                @include transitiontransform;

                @include hover {
                    @include transform(scale(1.02));
                }
            }
        }
    }
}

/**=====================================================
                HOME-BANNER(DESKTOP) END
=====================================================**/

/**=====================================================
                HOME-BANNER(MOBILE) START
=====================================================**/

.mobilebanner {
    margin: length(48) length(0) length(32);

    &-content {
        background: $secondary;
        overflow: hidden;

        .banner-details {
            @include flex-column;
            gap: length(24);
            margin-bottom: length(40);
            padding: length(40);

            &-header {
                @include flex-column;
                gap: length(24);

                .banner-title {
                    @include font-face($primaryFont, style('normal'), size(26), weight('bold'), line-height(34, 26));
                    color: $textDark;

                    @include breakpoint(mobile480) {
                        @include font-face($primaryFont, style('normal'), size(32), weight('bold'), line-height(42.09, 32));
                    }
                }

                .banner-text {
                    @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(25.94, 16));
                    color: $gray-700;

                    @include breakpoint(desktop1200) {
                        @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(30, 20));
                    }


                    @include breakpoint(desktop1400) {
                        @include font-face($primaryFont, style('normal'), size(25), weight('normal'), line-height(34.01, 25));
                    }
                }
            }

            &-body {
                .searchbox {
                    @include flex-center-vert;
                    @include w100;
                    @include radius(8);
                    overflow: hidden;

                    .search-field {
                        width: calc(100% - 3rem);
                        @include h100;
                        padding: length(13) length(22);
                        @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(14, 16));

                        &::placeholder {
                            color: $textPlaceholder;
                        }
                    }

                    .btn-search {
                        @include square(length(48));
                        @include flex-center;
                        background: $primary;
                        padding: length(10);
                        border: none;
                        @include transitions;

                        @include hover {
                            background: $primary-dark
                        }
                    }
                }
            }
        }

        .banner-thumbnail {
            height: auto;

            img {
                max-width: 100%;
                object-fit: contain;
                @include transitiontransform;

                @include hover {
                    @include transform(scale(1.02));
                }
            }
        }
    }
}

/**=====================================================
                HOME-BANNER(MOBILE) END
=====================================================**/

/**=====================================================
                TOP-CATEGORY START
=====================================================**/

.topcategory {
    &-content {
        @include flex-column;
        gap: length(36);
        padding: length(32) length(20);

        @include breakpoint(tab992) {
            padding: length(60) length(20);
        }
    }

    &-header {
        .category-title {
            @include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38.09, 28));
            color: $textDark;
        }
    }

    .desktop-category {
        display: none;

        @include breakpoint(tab992) {
            display: block;
        }

        .topcategory-body {
            @include flex-center-vert;
            gap: length(16);
            flex-wrap: wrap;
        }
    }


    .mobilecategory {
        display: block;

        @include breakpoint(tab992) {
            display: none;
        }

        .mobile-category {
            @include flex-center-vert;
            gap: length(16);
            flex-wrap: nowrap;
            overflow: hidden;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

/**=====================================================
                TOP-CATEGORY END
=====================================================**/

/**=====================================================
                CAROUSEL-SECTION START
=====================================================**/

.carouselsection {
    &-content {
        @include flex-column;
        gap: length(36);
        padding: length(32) length(20);

        @include breakpoint(tab992) {
            padding: length(60) length(20);
        }
    }

    &-header {
        .carousel-title {
            @include font-face($primaryFont, style('normal'), size(18), weight('semibold'), line-height(28.09, 18));
            color: $textDark;

            @include breakpoint(mobile576) {
                @include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38.09, 28));
            }
        }
    }

    &-body {
        .swiper-slide {
            flex-shrink: auto;

            @include breakpoint(mobile360) {
                width: length(240);
            }

            @include breakpoint(mobile500) {
                @include w100;
            }

            @include breakpoint(mobile576) {
                flex-shrink: 0;
            }
        }
    }
}

/**=====================================================
                CAROUSEL-SECTION END
=====================================================**/


/**=====================================================
                HOME-BANNER START
=====================================================**/

.banner {
    &-content {
        @include breakpoint(tab992) {
            padding: length(60) length(20);
        }
    }

    &-thumbnail {
        @include w100;
        height: length(140);
        overflow: hidden;

        @include breakpoint(mobile480) {
            height: length(240);
        }

        @include breakpoint(mobile576) {
            height: length(340);
        }

        @include breakpoint(mobile768) {
            height: length(440);
        }

        img {
            @include w100;
            object-fit: contain;
            @include transitiontransform;

            @include hover {
                @include transform(scale(1.05));
            }
        }
    }
}

/**=====================================================
                HOME-BANNER END
=====================================================**/


/**=====================================================
                ABOUT-SECTION START
=====================================================**/

.about {
    &-content {
        @include flex-column;
        gap: length(36);
        padding: length(32) length(20);

        @include breakpoint(tab992) {
            padding: length(60) length(20);
        }
    }

    &-header {
        .aboutus-title {
            @include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38.09, 28));
            color: $textDark;
        }
    }
}

/**=====================================================
                ABOUT-SECTION END
=====================================================**/


/**=====================================================
            STUDENTS-TESTIMONIALS START
=====================================================**/

.testimonial {
    background: $white;

    &-content {
        @include flex-column;
        gap: length(36);
        padding: length(32) length(20);

        @include breakpoint(tab992) {
            padding: length(60) length(20);
        }
    }

    &-header {
        .testimonial-title {
            @include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38.09, 28));
            color: $textDark;
        }
    }

    &-body {
        .swiper-slide {
            flex-shrink: auto;

            @include breakpoint(mobile576) {
                flex-shrink: 0;
            }
        }
    }
}

/**=====================================================
            STUDENTS-TESTIMONIALS END
=====================================================**/