/**=====================================================
                    PROFILE PAGE START
=====================================================**/

.myprofile {
    padding: length(76) length(20) length(80);

    @include breakpoint(tab992) {
        padding: length(116) length(0) length(80);
    }

    .profile {
        @include flex-column;
        gap: length(12);

        &-info {
            background: $white;
            @include flex-center-column;
            gap: length(16);
            padding: length(24);

            .profile-thumbnail {
                position: relative;
                @include square(length(100));
                @include flex-center;
                @include circle;

                .upload {
                    position: absolute;
                    bottom: 0;
                    right: 0;

                    .input-group {
                        &-text {
                            margin: 0;
                            padding: 0;
                            border: 0;
                            border-radius: 100% !important;
                            @include square(length(20));
                            background: $uploadBg;
                            @include flex-center;
                            cursor: pointer;

                            @include hover {
                                svg {
                                    path {
                                        stroke: $white;
                                    }
                                }
                            }
                        }
                    }
                }

                img {
                    @include wh100;
                    object-fit: cover;
                }
            }

            .userinfo {
                @include flex-center-column;
                gap: length(10);
                text-align: center;

                .username {
                    @include font-face($primaryFont, style('normal'), size(18), weight('semibold'), line-height(18, 18));
                    color: $textUser;
                }

                .usermail {
                    @include font-face($secondaryFont, style('normal'), size(14), weight('normal'), line-height(14, 14));
                    color: $textProfile;
                }
            }
        }

        &-menu {
            .profilelist {
                @include list-vertical;
                gap: length(4);

                &-link {
                    background: $white;
                    @include w100;
                    @include flex-center-between;
                    padding: length(8) length(16) length(8) length(8);
                    @include radius(8);

                    .icontext {
                        @include flex-center-vert;
                        gap: length(8);

                        .icon {
                            @include square(length(40));
                            @include radius(8);
                        }

                        .icon-1 {
                            background: $primary-light;
                        }

                        .text {
                            @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(25.92, 16));
                            color: $textDark;
                        }
                    }

                    &:hover:not(.active) {
                        background: rgba($playingBg, 0.04);
                    }

                    &.active {
                        background: rgba($playingBg, 0.04);
                    }
                }
            }
        }
    }

    .profile-details {
        @include flex-column;
        gap: length(44);
        background: $white;
        padding: length(24);

        .profile-title {
            @include font-face($primaryFont, style('normal'), size(24), weight('normal'), line-height(36, 24));
            color: $textUser;
        }

        .profileform {
            @include flex-column;
            gap: length(36);

            .inputbox {
                .inputinfo {
                    @include flex-column;
                    gap: length(8);
                    @include w100;

                    .inputlabel {
                        @include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(16, 14));
                        color: $textBodyLight;
                    }

                    .inputfield {
                        @include w100;
                        @include font-face($primaryFont, style('normal'), size(15), weight('normal'), line-height(15, 15));
                        @include radius(6);
                        color: $textBodyLight;
                        padding: length(14) length(16);
                        box-shadow: $input-shadow;

                        &::placeholder {
                            color: $textPlaceholder;
                        }

                        &:disabled {
                            background: transparent;
                            color: $textPlaceholder;
                            box-shadow: none;
                            padding: 0;
                        }
                    }
                }
            }

            .submitbox {
                @include flex-end;

                .buttons {
                    @include flex-center-vert;
                    gap: length(20);

                    .btn-cancel {
                        @include setBgColor(transparent, $primary);
                        @include font-face($primaryFont, style('normal'), size(14), weight('semibold'), line-height(14, 14));
                        @include transitions;

                        @include hover {
                            color: $tertiary;
                        }
                    }
                }
            }
        }
    }
}

/**=====================================================
                    PROFILE PAGE END
=====================================================**/