// @mixin exist($prop, $val) {
//     @if ($val) {
//         #{$prop}: $val;
//     }
// }

// @mixin position($t, $r, $b, $l) {
//     @include exist(top, $t);
//     @include exist(right, $r);
//     @include exist(bottom, $b);
//     @include exist(left, $l);
// }

.btn71 {
    display: inline-block;
    @include border(solid, 1, transparent);
    @include radius(8);
    @include font-face($primaryFont, style('normal'), size(14), weight('semibold'), line-height(14, 14));
    padding: length(16) length(24);
    @include transitions;
}

.btn-border {
    @include setBgColor($white, $primary);
    border-color: $primary;

    @include hover {
        @include setBgColor($primary, $white);
    }
}

.btn-fill {
    @include setBgColor($primary, $white);
    border-color: $primary;

    @include hover {
        @include setBgColor($white, $primary);
    }
}