/**=====================================================**
                        HOME-CARDS
=======================================================**/
.card-horizontal {
    @include flex-center-vert;
    gap: length(14);
    padding: length(14) length(12);
    background: $card-background;
    @include radius(8);

    &-cap {
        background: $white;
        padding: length(4);
        @include square(length(99));
        @include radius(4);

        img {
            @include wh100;
            object-fit: contain;
        }
    }

    &-details {
        width: calc(100% - 7.0625rem);
        @include flex-column;
        gap: length(8);

        .card-horizontal-title {
            @include font-face($primaryFont, style('normal'), size(14), weight('semibold'), line-height(24, 14));
            color: $gray-700;
            @include text-overflow;
        }

        .cart-price {
            .btdsign {
                @include font-face($secondaryFont, style('normal'), size(16), weight('semibold'), line-height(25.6, 16));
                color: $gray-800;
            }

            .price {
                @include font-face($secondaryFont, style('normal'), size(16), weight('semibold'), line-height(25.6, 16));
                color: $gray-800;
            }
        }
    }
}

.card-category {
    padding: length(8);
    @include flex-center-vert;
    gap: length(8);
    @include radius(8);
    background: $white;
    min-width: length(200);

    @include breakpoint(tab992) {
        min-width: auto;
    }

    .card-category-cap {
        @include square(length(40));
        @include flex-center;
        overflow: hidden;

        img {
            max-width: 100%;
            object-fit: contain;
        }
    }

    .card-category-details {
        .category {
            @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(25.92, 16));
            color: $textDark;
            font-feature-settings: 'salt'on;
        }
    }
}

.cardcourse {
    @include flex-column;
    @include radius(8);
    overflow: hidden;

    @include breakpoint(mobile360) {
        width: length(240);
    }

    @include breakpoint(mobile500) {
        @include w100;
    }

    &-header {
        .course-thumbnail {
            @include flex-center;
            @include w100;
            height: length(162);
            overflow: hidden;

            img {
                max-width: 100%;
                @include w100;
                object-fit: cover;
                @include transitiontransform;

                @include hover {
                    @include transform(scale(1.05));
                }
            }
        }
    }

    &-body {
        background: $white;
        @include flex-column;
        gap: length(4);
        padding: length(8);

        .course-title {
            @include font-face($primaryFont, style('normal'), size(16), weight('semibold'), line-height(25.92, 16));
            color: $gray-800;
            @include line-clamp;
            @include transitions;
            height: length(52);

            @include hover {
                color: $tertiary;
            }
        }

        .cardcoursedetail {
            @include flex-column;
            gap: length(10);

            @include breakpoint(mobile360) {
                flex-direction: row;
                align-items: center;
                gap: length(36);
            }

            .courseinfo {
                @include flex-column;
                gap: length(8);

                .course-category {
                    @include font-face($primaryFont, style('normal'), size(12), weight('normal'), line-height(16, 12));
                    color: $gray-600;
                }

                .course-teacher {
                    @include font-face($primaryFont, style('normal'), size(12), weight('normal'), line-height(16, 12));
                    color: $gray-800;
                }
            }

            .coursebadge {}
        }

        .course-prices {
            @include flex-column;
            gap: length(0);

            @include breakpoint(mobile360) {
                flex-direction: row;
                align-items: center;
                gap: length(16);
            }

            .current-price {
                .btdsign {
                    @include font-face($primaryFont, style('normal'), size(16), weight('semibold'), line-height(25.92, 16));
                    color: $gray-800;
                }

                .price {
                    @include font-face($primaryFont, style('normal'), size(16), weight('semibold'), line-height(25.92, 16));
                    color: $gray-800;
                }
            }

            .previous-price {
                text-decoration-line: line-through;
                font-feature-settings: 'salt'on;
                color: $gray-800;

                .btdsign {
                    @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(25.92, 16));
                    color: $gray-800;
                }

                .price {
                    @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(25.92, 16));
                    color: $gray-800;
                }
            }
        }
    }
}

.card-about {
    @include flex-center-column;
    gap: length(16);
    padding: length(8) length(20);
    background: $white;
    @include radius(8);

    .about-thumbnail {
        @include square(length(72));
        @include flex-center;
        overflow: hidden;

        img {
            @include wh100;
            object-fit: contain;
        }
    }

    &-details {
        @include flex-center-column;
        gap: length(8);
        text-align: center;

        .about-title {
            @include font-face($primaryFont, style('normal'), size(20), weight('semibold'), line-height(22, 20));
            color: $text-about;

        }

        .about-text {
            @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(25.92, 16));
            color: $text-about;
        }
    }
}

.card-testimonial {
    @include flex-center-vert;
    padding: length(8);

    &-cap {
        width: length(54);
        height: length(92);
        @include flex-center;
        overflow: hidden;
        margin-right: length(-10);
        margin-top: length(20);

        img {
            @include wh100;
            object-fit: cover;
        }
    }

    &-details {
        width: calc(100% - 3.375rem);
        @include flex-center-vert;
        gap: length(18);
    }

    &-header {
        @include square(length(51));
        @include flex-center;
        @include border(solid, 2, $border-thumb);
        @include circle;
        overflow: hidden;

        img {
            @include wh100;
        }
    }

    &-body {
        width: calc(100% - 4.3125rem);

        .testimonial-text {
            @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(25.6, 16));
            color: $black;
        }
    }
}