/**=====================================================
                WISHLIST DROPDOWN START
=====================================================**/

.offcanvas-top {
    height: 100vh;
    border-bottom: none;
}

.offcanvas-bottom {
    height: 100vh;
    border-top: none;
}

.offcanvas-start {
    border-right: none;
}

.offcanvas-end {
    border-left: 0;
}

.offcanvas {
    width: length(260);

    @include breakpoint(mobile360) {
        width: length(300);
    }

    &-header {
        position: relative;
        @include flex-center;

        .logo {
            width: length(120);
            height: length(40);
            @include flex-center;
            overflow: hidden;

            img {
                @include w100;
                max-width: 100%;
                object-fit: contain;
            }
        }

        .btn-close {
            @include square(length(30));
            background: $white;
            box-shadow: $close-shadow;
            margin: 0;
            padding: length(8);
            @include flex-center;
            @include circle;
            opacity: 1;
            position: absolute;
            top: length(8);
            left: calc(100% + .5rem);

            svg {
                @include wh100;
                @include transitiontransform;

                path {
                    @include transitions;
                }
            }

            &:focus {
                box-shadow: none;
                outline: none;
            }

            @include hover {
                svg {
                    @include transform(rotate(90deg));

                    path {
                        fill: $danger;
                    }
                }
            }
        }
    }

    &-body {
        overflow-x: hidden;
        padding-top: length(0);
        padding-bottom: length(76);

        .authmenu {
            @include flex-column;
            gap: length(14);
            @include w100;
            position: absolute;
            bottom: length(70);
            left: 0;
            padding: length(16);
            background: $white;
            z-index: 100;

            .withoutauth {
                @include flex-column;
                gap: length(14);
            }

            .withauth {
                @include flex-column;
            }
        }

        .mobilesearch {
            @include flex-column;
            gap: length(16);
            background: $white;
            max-width: length(300);
            padding: length(24) length(12);

            .searchinfos {
                @include flex-column;
                gap: length(16);

                .search-head {
                    &-title {
                        @include font-face($primaryFont, style('normal'), size(16), weight('semibold'), line-height(24, 16));
                        color: $gray-800;
                    }
                }

                .search-body {
                    @include flex-column;
                    gap: length(16);
                }
            }

            .divider {
                height: length(1);
                background: $gray-200;
                margin: 0 length(-12);
            }
        }

        .allcourses {
            margin-bottom: length(24);
            @include flex-column;
            gap: length(8);

            .accordion {
                &-item {
                    border: 0;
                    border-radius: 0;
                }

                &-link {
                    @include flex-center-vert;

                    .categoryitem {
                        width: calc(100% - 2.5rem);
                        height: length(40);

                        .all-link {
                            @include flex-center-vert;
                            gap: length(8);
                            @include w100;

                            .iconbox {
                                @include square(length(40));
                                @include radius(8);
                            }

                            .development {
                                background: $primary-light;
                            }

                            .business {
                                background: $businessBg;
                            }

                            .accounting {
                                background: $accountingBg;
                            }

                            .it {
                                background: $itBg;
                            }

                            .text {
                                width: calc(100% - 2.5rem);
                                @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(25.58, 16));
                                color: $gray-800;
                                @include text-overflow;
                            }
                        }
                    }

                    .accordion-header {
                        @include square(length(40));

                        .accordion-button {
                            @include wh100;
                            @include flex-center;
                            border: none;
                            @include radius(0);
                            background: transparent;

                            &:not(.collapsed) {
                                background: transparent;
                                box-shadow: none;
                                outline: none;

                                &::after {
                                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                                }
                            }

                            &:focus {
                                box-shadow: none;
                                outline: none;
                            }
                        }
                    }
                }

                &-body {
                    padding: 0;
                    padding: length(8) length(0);

                    .accordion {
                        @include flex-column;
                        gap: length(8);

                        &-item {
                            border: 0;
                            border-radius: 0;
                            background: transparent;
                        }

                        &-link {
                            @include flex-center-vert;
                            @include radius(8);
                            @include transitions;
                            padding: length(8);

                            .subcategory-link {
                                width: calc(100% - 2.5rem);

                                .text {
                                    @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(25.58, 16));
                                    color: $gray-800;
                                    @include text-overflow;
                                }
                            }

                            .accordion-header {
                                @include square(length(40));

                                .accordion-button {
                                    @include wh100;
                                    @include flex-center;
                                    border: none;
                                    @include radius(0);
                                    background: transparent;

                                    &:not(.collapsed) {
                                        background: transparent;
                                        box-shadow: none;
                                        outline: none;

                                        &::after {
                                            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                                        }
                                    }

                                    &:focus {
                                        box-shadow: none;
                                        outline: none;
                                    }
                                }
                            }

                            @include hover {
                                background: $tertiary-light;
                            }
                        }

                        &-body {
                            padding: 0;

                            .categorytopic {
                                @include flex-column;
                                gap: length(4);
                                @include w100;

                                .topiclist {
                                    @include list-vertical;
                                    gap: length(4);
                                    @include w100;

                                    &-link {
                                        @include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(25.58, 14));
                                        color: $gray-800;
                                        padding: length(8) length(24);
                                        @include transitions;
                                        @include w100;
                                        @include radius(8);

                                        @include hover {
                                            background: $tertiary-light;
                                        }
                                    }
                                }

                                .seeall {
                                    @include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(25.58, 14));
                                    color: $tertiary;
                                    padding: length(8) length(24);
                                    @include radius(8);
                                    @include transitions;

                                    @include hover {
                                        background: $tertiary-light;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &::-webkit-scrollbar {
            background: transparent;
            width: length(8);
        }

        &::-webkit-scrollbar-thumb {
            background: $primary;
        }
    }
}

.mobile-suggestions {
    .offcanvas {
        @include w100;
        height: calc(100% - 4.375rem);
        background: $bodyBg;

        &-header {
            @include w100;
            @include flex-center-between;
            position: relative;
            background: $bodyBg;

            .searchbox {
                @include flex-center-vert;
                @include radius(8);
                overflow: hidden;
                width: calc(100% - 2.875rem);
                @include transitions;

                .search-field {
                    width: calc(100% - 3rem);
                    @include h100;
                    padding: length(14.5) length(22);
                    @include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(20, 14));

                    &::placeholder {
                        color: $textPlaceholder;
                    }
                }

                .btn-search {
                    @include square(length(48));
                    @include flex-center;
                    background: $primary;
                    padding: length(10);
                    border: none;
                    @include transitions;

                    @include hover {
                        background: $primary-dark
                    }
                }

                &:focus-within {
                    box-shadow: $dropdown-shadow;
                }
            }

            .btn-close {
                @include square(length(30));
                box-shadow: none;
                background: transparent;
                margin: 0;
                @include flex-center;
                @include circle;
                opacity: 1;
                position: absolute;
                top: 50%;
                @include transform(translateY(-50%));
                left: auto;
                right: 0;

                svg {
                    @include wh100;
                    @include transitiontransform;

                    path {
                        @include transitions;
                    }
                }

                &:focus {
                    box-shadow: none;
                    outline: none;
                }

                @include hover {
                    svg {
                        @include transform(rotate(90deg));

                        path {
                            fill: $danger;
                        }
                    }
                }
            }
        }

        &-body {
            padding-top: length(0);

            &::-webkit-scrollbar {
                background: transparent;
                width: length(4);
            }

            &::-webkit-scrollbar-thumb {
                background: $scrollBg;
            }

            .suggestionslist {
                @include list-vertical;

                &-item {
                    @include flex-center-vert;
                    gap: length(16);
                    padding: length(8) length(16);
                    cursor: pointer;

                    .suggestion-thumbnail {
                        width: length(80);
                        height: length(45);
                        @include flex-center;
                        @include radius(6);
                        overflow: hidden;

                        img {
                            @include wh100;
                            object-fit: contain;
                        }
                    }

                    .suggestion-details {
                        .suggestiontitle {
                            @include font-face($primaryFont, style('normal'), size(12), weight('normal'), line-height(18, 12));
                            color: $gray-600;
                            @include transitions;

                            @include breakpoint(mobile576) {
                                @include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(25.6, 14));
                            }
                        }
                    }

                    @include hover {
                        background: $card-background;

                        .suggestion-details {
                            .suggestiontitle {
                                color: $tertiary;
                            }
                        }
                    }
                }
            }
        }
    }
}

.searchmobile {
    padding-bottom: length(60);

    .offcanvas-header {
        @include flex-center-vert;
        position: relative;
        padding: 0;

        .btn-close {
            @include square(length(30));
            background: $white;
            box-shadow: $close-shadow;
            margin: 0;
            padding: length(8);
            @include flex-center;
            @include circle;
            opacity: 1;
            position: absolute;
            top: length(8);
            left: length(-54);
            overflow: hidden;

            svg {
                @include wh100;
                @include transitiontransform;

                path {
                    @include transitions;
                }
            }

            &:focus {
                box-shadow: none;
                outline: none;
            }

            @include hover {
                svg {
                    @include transform(rotate(90deg));

                    path {
                        fill: $danger;
                    }
                }
            }
        }

        .titlebox {
            @include w100;
            @include flex-center;
            text-align: center;

            .search-title {
                @include font-face($primaryFont, style('normal'), size(18), weight('semibold'), line-height(28.09, 18));
                color: $textDark;
            }
        }
    }
}

/**=====================================================
                WISHLIST DROPDOWN END
=====================================================**/